body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: linear-gradient(135deg,#1f2c7a, #0f1445);
    font-family: "Segoe UI", sans-serif;
    color: white;
    text-align: center;
}

/* Bigger and smoother image */
img {
    height: 300px;
    width: 300px;
    object-fit: contain;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Heading */
h1 {
    font-size: 90px;
    margin-top: -10px;
    letter-spacing: 2px;
    font-weight: 600;
    color: white; /* Ensures PRO stays same color */
    animation: fadeIn 2s ease-in-out;
}

/* If you're using span for PRO */
h1 span {
    color: inherit; /* Makes PRO same color as rest */
}

p {
    opacity: 0.8;
    font-size: 18px;
    margin-top:-30px;
}

/* Smooth animation */
@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: scale(0.9); 
    }
    to { 
        opacity: 1; 
        transform: scale(1); 
    }
}